@import './normalize.scss';
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;

  &.is-lock {
    overflow: hidden;
  }
}

.gallery {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 280px;
  grid-gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
  }

  &__item {
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  &__image:hover {
    transform: scale(1.03);
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 200ms ease-in-out;
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  &__link:hover {
    cursor: zoom-in;
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    transition: transform 200ms ease-in-out;
  }

  &__image {
    width: auto;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
  }

  &.is-open &__content {
    transform: scale(1);
  }

  &__button {
    position: absolute;
    top: 8px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    outline: none;
    background-image: url('../images/close-button.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &-slider__btn {
    position: absolute;
    top: 50%;
    width: 3.5rem;
    height: 3.8rem;
    background-color: #7098a0;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &--prev {
      left: 0;
      background-image: url('../images/prev.svg');
    }

    &--next {
      right: 0;
      background-image: url('../images/next.svg');
    }

    &--inactive {
      background-color: rgba(85, 85, 85, 0.3);
    }
  }
}
